mixin hotel 

  .hotel 
    .hotel_img 
      a(href="")  
        img(src="/images/hotel/outer-pool.jpg", alt="")
    .hotel_info 
      a(href="")  
        h3 Hotel 1
      hr
      p Star Rating: 4
      p Country: Jamaica 
      p Cost per night: $100
      
    //- .hotel_img 
    //-   a(href="")  
    //-     img(src="/images/hotel/Honey_moon.jpg", alt="")
    //- .hotel_info 
    //-   a(href="")  
    //-     h3 Hotel 2
    //-   hr
    //-   p Star Rating: 4
    //-   p Country: Jamaica 
    //-   p Cost per night: $100

    //- .hotel_img 
    //-   a(href="")  
    //-     img(src="/images/hotel/outer-pool.jpg", alt="")
    //- .hotel_info 
    //-   a(href="")  
    //-     h3 Hotel 3
    //-   hr
    //-   p Star Rating: 4
    //-   p Country: Jamaica 
    //-   p Cost per night: $100
    
    //- .hotel_img 
    //-   a(href="")  
    //-     img(src="/images/hotel/outer-pool.jpg", alt="")
    //- .hotel_info 
    //-   a(href="")  
    //-     h3 Hotel 4
    //-   hr
    //-   p Star Rating: 4
    //-   p Country: Jamaica 
    //-   p Cost per night: $100
